body {
  margin:0;
}

.iSeeU {
  height: 200px;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonPLZ{
  height: 50px;
  width: 200px;
}
.word {
  color: red;
  font-size: 30px;
  text-align: center;
}

.word_barre {
  color: green;
  font-size: 30px;
  text-align: center;
  text-decoration: line-through;
  font-style: italic;
}